@{
    ViewData["Title"] = "Accueil";
}



    <section class="bg-primary text-white">
        <div class="container py-5">
            <div class="row my-3 text-center text-lg-left align-items-center">
                <div class="col-xl-auto col-lg-6">
                    <h1 class="display-3 mb-0">Location de voiture</h1>
                    <h5 class="text-uppercase">Themes.guide</h5>
                    
                </div>
                <div class="col-xl-auto col-lg mr-auto">
                    <svg class="i-download d-lg-none d-inline" title="For your downloading pleasure" viewBox="0 0 32 32" width="240" height="240" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width=".5">
                        <path d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 26 L16 30 21 26 M16 16 L16 30"></path>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <div class="bg-white">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-12 my-auto">
                    <div class="row text-center">
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="display-2"><a class="text-primary" href="how-to.html"><span class="ion ion-ios-bookmarks-outline"></span></a></h1>
                                    <h4 class="card-title"><a class="text-primary" href="how-to.html">How-to</a></h4>
                                    <p class="card-text">
                                        Mystified? You're looking for our <strong>"<a class="text-primary" href="how-to.html">How to Bootstrap</a>"</strong> guide. This
                                        essential guide explains <em>everything</em> from Getting Started &amp; the Grid, to Components,
                                        <a href="how-to-customize-bootstrap.html" class="text-primary">Customizing</a> &amp; <a href="how-to-create-bootstrap-themes.html" class="text-primary">Theming</a> Bootstrap.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="display-2"><a class="text-primary" href="#themes"><span class="ion ion-ios-color-palette-outline"></span></a></h1>
                                    <h4 class="card-title"><a class="text-primary" href="#themes">Free Themes</a></h4>
                                    <p class="card-text">
                                        Don't want that typical Bootstrap look? Our <a class="text-primary" href="#themes">free themes</a>
                                        provide an additional lightweight style-layer
                                        to give your standard Bootstrap 4 site a <strong>unique, custom look-and-feel</strong>.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <div class="card h-100 border-0 shadow">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="display-2"><a class="text-primary" href="http://themes.guide#about"><span class="ion ion-ios-construct-outline"></span></a></h1>
                                    <h4 class="card-title"><a class="text-primary" href="http://themes.guide#about">Ready-to-use</a></h4>
                                    <p class="card-text">
                                        Just like Bootstrap, each <a class="text-primary" href="#themes">theme</a> is crafted with care for design and performance. All built on modern HTML5 &amp; CSS3
                                        standards to ensure consistency and <strong>cross-browser</strong> support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bg-light" id="themes">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 py-3">
                    <h1 class="display-3 mb-0">Themes</h1>
                    <p class="lead text-justify">
                        A collection of free, <a href="https://github.com/ThemesGuide/bootstrap-themes" target="_new">open-source</a> themes to give your Bootstrap 4 projects a
                        <strong>unique, custom</strong> style. Simply download the <code>theme.css</code> file for any theme, and include it after the standard
                        <code>bootstrap.css</code> in your project's HTML templates. Each theme also includes
                        example layout templates to demonstrate Bootstrap 4 elements, components, and content integration.
                    </p>
                </div>
            </div>        

         


            <div class="row py-5 border-bottom">
                <div class="col-md-5 py-2 text-center text-md-right">
                    <a href="./lovey"><img class="img-fluid rounded shadow wow fadeIn" src="./assets/ss_lovey.png" alt="Screenshot Lovey"></a>
                </div>
                <div class="col-md-7 py-2 order-md-first text-md-right">
                    <h2 class="my-1"><a href="./lovey">Lovey</a></h2>
                    <p>
                        A bright, hot pink theme in good taste.<br>

                    </p>
                    <p><span class="h5" style="font-family:'Lato'">Lato</span> is the font family.</p>
                    <small class="text-muted">Color palette</small>

                </div>
            </div>






        </div>

    </section>

   
